<form action="/add" method="post">
  <br class="form-group">
    <h5 for="exampleInputEmail1">Item Name</h5>
    <input type="email" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>