

<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="{{file.link}}"></iframe>
</div>

<style>
    iframe{
        margin: 0 !important;
        position: fixed !important;
        top:  !important;
        left: 0 !important;
        padding-top:0!important;
        z-index: 2;
    }
</style>