<div class="h">

<select name="" id="">
    <option value="">bcvb</option>
    <option value="">bcvb</option>
</select>
<select name="" id="">
    <option value="">vbcvb</option>
    <option value="">vbcvb</option>
</select>
<select name="" id="">
    <option value="">vcbcvb</option>
    <option value="">vcbcvb</option>
</select>
<select name="" id="">
    <option value="">bcvb</option>
    <option value="">bcvb</option>
</select>
<select name="" id="">
    <option value="">cvbcvb</option>
    <option value="">cvbcvb</option>
</select>
</div>

<style>
    .h{
        display: flex;
        flex-direction: column;
    }
    select{
        margin: 3px;
    }
</style>