<div class="container">
            <h3 class="mt-3"><b>welcome {{user.name}}</b></h3>
            {{#if user}}
            <a class="btn logout btn-danger mt-3" href="/logout">Logout</a>
            {{/if}}
            <h4 class="mt-3"><b>Your Uploads</b></h4>
</div>
