<div class="main">
    <h1 class="head">Semester</h1>
    <div class="buttons">
        <a href="/semester1" class="but"> Semester 1 </a>
    </div>
        <a href="/{{itemid}}/add" class="btn btn-success mt-5"> add item </a>
</div>






<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .head {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: rgb(128, 95, 158);
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 1rem;
    }

    .but {
        margin: 5px;
        width: 100px;
        height: 30px;
        padding: 3px;
        border-radius: 0.5rem;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>